.back-to-top-btn{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--blue);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}