.grid-flex{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:1.5rem;
    margin:1.5rem 2rem;
}
.no-item{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap:1rem;
    margin:1.5rem 2rem;
    color:var(--grey);
    font-size:1.2rem;
    height:55vh;
    width:100%;
}





@media only screen and (max-width:800px){

    .no-item{
        margin: 0;
        position:relative;
        left:-2rem!important;
    }

    .grid-flex{
        width: 100% !important;
    }

    .list-table{
        display:flex;
        justify-content: center;
    }
    .tabPanel{
        padding:0.2rem !important;
        width:100% !important;
    }

    .list-no-item{
        margin: 0;
        padding: 0;
        position: relative;
        left: 0.8rem !important;
    }
}