.coins-flex{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    gap:1.5rem;
    margin:1.5rem;
}

@media only screen and (max-width: 768px){
    .coins-flex>p{
       width:4.5rem;

    }
}